/* 
General colour scheme for the site:
dark blue: #22223B
grayish blue: #4A4E69
blueish beish: #9A8C98
darkish beish: #C9ADA7
beish: #F2E9E4
*/

#header{
    text-align:center;
}
#cutedog{
    width: 25%;
}
h1 {
    font-family: sans-serif;
    margin: 30px;
    width: 30%;
}