body{
    background-color:whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cutedog{
    width: 25%;
}
#header{
    display: flex;
    text-align:center;
    padding: 20px;
}
h1 {
    font-family: sans-serif;
    margin: 30px;
    width: 30%;
}